<h1>Edit</h1>

<% if @todo.errors.any? %>
  <div>
    <ul style="color: red">
      <% @todo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @todo do |f| %>
  <div class="field">
  <%= f.label :Title %><br>
  <%= f.text_field :title %>
</div>
<div class="field">
  <%= f.label :Description %><br>
  <%= f.text_field :description %>
</div>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>

<%= link_to 'Back', todos_path %>