<h1> Todo List! </h1>

<p>There're  <%= @todos.count %> todos</p>

<%= link_to "New", new_todo_path %>

<% @todos.each do |todo| %>
  <li> 
    <%= link_to todo.title, todo_path(todo.id) %>
    <%= link_to "edit", edit_todo_path(todo[:id]) %>
    <%= link_to "delete", todo, method: :delete, data: { confirm: "You sure?" }%>
  </li>
<% end %>
